body,html,header,h3,h2,div,h1,footer {
    margin: 0;
    padding: 0;
}

.nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

@font-face {
    font-family: "Paladins";
    src: local("paladins-webfont"), url("https://drive.google.com/uc?export=download&id=1NW6oK3gcIn1jp0C4t6GqSIG7Gha4v9-t");
  }

.police {
    font-family: Paladins;
}

.imgfond {
    filter: saturate(50%) grayscale(50%) brightness(50%);
    min-height: 100%;
    min-width: 100%;
    z-index: 3;
}

.messentete {
    font-family: Paladins;
    color: rgb(194, 194, 194);
    font-size: 100px;
    position: absolute;
    top: 200px;
    z-index: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pagenav:hover > .a {
    color: #f76d01;
    background-color: black;
    padding-left: 5px;
    padding-right: 7px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition-property: background-color color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.pagenav {
    float: left;
    padding-left: 5px;
    padding-right: 7px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.a {
    font-family: Paladins;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: -3px;
    color: black;
}

#pagenav {
    clear: both;
    white-space: nowrap;
}

.corps {
    margin-top: 45px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Calibri;
    font-size: 20px;
}